*
{
    /* background-color:#E6E6E6; */
    margin:0;
}
.navbar
{
    display: flex;
    justify-content: space-between;
    padding: 2vw;
}
.menu-items
{
    display: flex;
    justify-content:space-between;
    width:25vw;
}
.menu-items a
{
    color:white;
    text-decoration:none;
    font-size: large;
    font-weight: bold;
}
#contacts
{
    color: blue;
    background-color: white;
    padding:3px;
    border-radius:10px;
}
.page1
{
    background:url("./sunnyside-agency-landing-page-main/images/desktop/image-header.jpg");
    height:100vh;
    width:100vw;
    background-repeat:no-repeat;
    background-size: cover;
}
#arrow
{
    position:absolute;
    top:50%;
    left:48%;
}
.head
{
    display: flex;
    justify-content: center;
    position:absolute;
    top:40vh;
    left:40%;
}
.head p
{
    color: white;
    font-size:50px;
    font-weight: bolder;
}
.page2
{
    display: grid;
    grid-template-columns:auto auto;
}
.quad-1
{
    /* background-color:yellow */
}
.quad-2
{
    background: url("./sunnyside-agency-landing-page-main/images/desktop/image-transform.jpg");
}
.quad-3
{
    background: url("./sunnyside-agency-landing-page-main/images/desktop/image-stand-out.jpg");
    
}
.quad-5
{
    background:url("./sunnyside-agency-landing-page-main/images/desktop/image-graphic-design.jpg");
}
.quad-6
{
    background:url("./sunnyside-agency-landing-page-main/images/desktop/image-photography.jpg");
}
.quad
{
    height:70vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content
{
    /* background-color: blue; */
    margin:10%;
    font-size: larger;
}
.clients
{
    display: flex;
    justify-content:space-evenly;
}
.client img
{
    height:10vh;
    width:10vh;
    border-radius: 50%;
    
}
.client
{
    width:20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    line-height:4vh;
    text-align: center;
    margin-bottom:5vh;
}
.client p
{
    color:grey;
}
.gallery
{
    display:flex;
    flex-direction: row;
   
}
.gallery img
{
   height: 50vh;
   width:50vh;
}
.footer #logo
{
    height:5vh;
    width:15vh;
    margin-top:5vh;
}
.footer
{
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer div
{
    margin:5vh;
}
.foot-menu a
{
    color:grey;
    text-decoration:none;
    margin:4vh;
}
.contacts img
{
    margin:2vh;
}